@import 'primevue/resources/primevue.css';
@import 'primevue/resources/themes/lara-light-indigo/theme.css';
@import 'primeflex/primeflex.css';
@import 'primeicons/primeicons.css';

/* ----------------------------- GLOBAL USE --------------------------------*/


@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

.puto-avatar {
    width:28px !important;
    height:28px !important;
    padding: 0% !important;
    margin: 0% !important
}

:root {
    --switchcolor1: #FFFFFF; /* Header-background... Body-background... */
    --switchcolor2: #F9FAFA; /* Right-aside */
    --switchcolor3: #F2F4F5; /* Left-aside-menu-hover*/
    --switchcolor4: #EAEDEF;
    --switchcolor5: #E2E7E9;
    --switchcolor6: #E2E7E9;
    --switchcolor7: #2A3C42; /* Text color*/
    --switchcolor8: #000000;
    --switchcolor9: #000000;
	--switchcolor10: #EBEBEB;
    --switchcolor11: #EF324C; /* BRAND COLOR */

}

.dark-mode {
    --switchcolor1: #0B1416;
    --switchcolor2: #04090A;
    --switchcolor3: #131F23;
    --switchcolor4: #2B383D;
    --switchcolor5: #223237;
    --switchcolor6: #223237;
    --switchcolor7: #B2C5C9;
    --switchcolor8: #FFFFFF;
    --switchcolor9: #FFFFFF;
	--switchcolor10: #1F2729;
    --switchcolor11: #EF324C; /* BRAND COLOR */

}

* {
    color: var(--switchcolor7);
    caret-color: #F9AD5B; /* cursor texto */
    font-family: Nunito;
}

body {
    background-color: var(--switchcolor1) !important;

}

span {
    color: var(--switchcolor7);
}

a { /* Currarse un hover guapo y un visited*/
    color: #F9AD5B;
}

h1, h2, h3, h4, h5 {
    letter-spacing: 1px;
}

textarea {
    resize: none;
}

.box {
    width: 150px;
    height: 50px;
    border: 1px solid #000; /* Borde de los contenedores */
    margin-right: 5px; /* Espacio entre los contenedores */
}

.svg-background-color {
    fill: var(--switchcolor9);
}

.box-40 {
    width: 40px;
    height: 40px;
}
/*----------------------------------------- HEADER --------------------------------------------------------*/

.header-main-container {
    z-index: 99999 !important;
    position: fixed;
    background-color: var(--switchcolor1);
}

.header-separator {
	border-bottom: 1px solid var(--switchcolor10);
}

/* BUTTONS */

.addpost-circular-button {
    background: linear-gradient(to right, #F35F0E, #ec068c);    
    border: 0px;
    border-radius: 90px;
    height: 40px;
    width: 40px;
}
    .addpost-circular-button:hover {
        background-color: var(--switchcolor5);
    }

.circular-button {
    background-color: var(--switchcolor1);
    border: 0px;
    border-radius: 90px;
    height: 40px;
    width: 40px;
}
    .circular-button:hover {
        background-color: var(--switchcolor5);
    }

.simple-button {
        background-color: var(--switchcolor3);
        border: 0px;
        border-radius: 90px;
        height: 40px;
        width: 100px;
        transition: background-color 0.3s;
}
        .simple-button:hover {
            background-color: var(--switchcolor5);
        }

.special-button {
    background: linear-gradient(to top, #ec068c, #F35F0E) !important;
    border: 0px;
    border-radius: 90px;
    height: 40px;
    width: 100px;
    transition: background-color 0.3s ;
}

.special-button:hover {
    background: linear-gradient(to left, #ec068c, #F35F0E) !important;
}



/* SEARCHBAR */

.searchbar {
	width: 753px; 
	height: 40px; 
	padding-top: 8px; 
	padding-bottom: 8px; 
	padding-left: 20px; 
	padding-right: 20px; 
	background-color: var(--switchcolor4); 
	border-radius: 45px
}
	.searchbar:hover {
		background-color: var(--switchcolor6); 
	}

    @media (max-width: 800px) {
        .searchbar {
            display: none !important;
        }
    }

/* LOGO */

.logo {
	width: 115px; 
	height: 34px;
}

/* -------------------------------- FOOTER -------------------------- */

.footer-separator {
	border-top: 1px solid var(--switchcolor10);
}

/* -------------------------------- LOGIN ---------------------------- */

.login-container {
    background-color: var(--switchcolor1);
    border: 1px solid var(--switchcolor10);
    border-radius: 1rem;
}

.login-banner {
    width: 100%; /*Ancho de la imagen */
    height: 632px; /* Altura de la imagen */
    background-image: url('images/login_banner.png') !important; /* Ruta de la imagen */
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%; /* Ajustar la imagen al tamaño del contenedor */
    /* background-size: cover; Ajustar la imagen al tamaño del div */
    border-radius: 1rem 0 0 1rem; /* Establecer el radio de borde para el lado izquierdo */
}

.login-input {
    height: 3.5rem !important;
	background-color: var(--switchcolor4);
    border: 0px;
	border-radius: 1.25rem;
    padding-left: 20px !important;
    border: 2px solid transparent; /* Establece un borde transparente */
    outline: none; /* Elimina el borde predeterminado cuando el input está seleccionado */
    transition: border-color 0.3s ease; /* Transición para suavizar el cambio de color del borde */
    color: var(--switchcolor7) !important; /* Color del texto dentro del input */
}
    .login-input:focus {
		background-color: var(--switchcolor6);
        border-color: #F9AD5B !important; /* Cambia el color del borde cuando el input está seleccionado */
        box-shadow: 0 0 10px #F9AD5B; /* Añade un efecto de sombra para un aspecto más difuminado o neón */
	}


.login-submit-button {
    height: 50px !important;
    width: 100px;
    margin-left: 4px;
    margin-right: 4px;
}

.btn-login-password {
    color: var(--switchcolor7);
    font-size: 14px;
    position: absolute;
    top: 33%; /* Centra verticalmente */
    right: 15px; /* Alinea a la derecha con un pequeño margen */
    transform: translateY(-15%); /* Ajusta para centrar verticalmente */
    background: none;
    border: none;
    cursor: pointer;
    transition: color 0.5s ease; /* Agregamos una transición para suavizar el cambio de color */
    }
    
    .btn-login-password:hover, .btn-login-password:active {
      color: #CACACA; /* Cambia el color cuando está activo (haciendo clic) */
    }

    .toggle-password-button {
        margin-left: -40px; /* Ajusta el margen para que el botón esté justo a la derecha del input */
    }

.page-title { /* GLOBAL?*/
    font-family: Nunito;
    font-weight: bold ;
    display: inline-block;
    color: #fff;
    background: #fff;
    mix-blend-mode: multiply;
    position: relative;
}

.page-title:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #F35F0E, #ec068c);
    mix-blend-mode: screen; 
    position: absolute;
    top: 0;
    left: 0;
}

/* ---------------------------------------------- CREATE POST --------------------------------------------- */

.pachuru {
    width: 100%; /*Ancho de la imagen */
    height: max-content; /* Altura de la imagen */
}

.createpost-banner {
    width: 100%; /*Ancho de la imagen */
    height: 160px; /* Altura de la imagen */
    /*background-image: url('/images/createpost_banner.png') !important; /* Ruta de la imagen */
    background-image: url('/images/createpost_banner.svg') !important; /*Ruta de la imagen */
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%; /* Ajustar la imagen al tamaño del contenedor */
    background-color: none;
    /* background-size: cover; Ajustar la imagen al tamaño del div */
    border-radius: 1rem 1rem 0 0; /* Establecer el radio de borde para el lado izquierdo */
}

.createpost-container {
    background-color: var(--switchcolor1);
    border: 1px solid var(--switchcolor10);
    border-radius: 1rem;
}

.createpost-input {
    height: 3.5rem !important;
	background-color: var(--switchcolor4);
    border: 0px;
	border-radius: 1.25rem;
    padding-left: 20px !important;
    border: 1px solid transparent; /* Establece un borde transparente */
    outline: none; /* Elimina el borde predeterminado cuando el input está seleccionado */
    transition: border-color 0.3s ease; /* Transición para suavizar el cambio de color del borde */
    color: var(--switchcolor7) !important; /* Color del texto dentro del input */
}
.createpost-input:focus {
    background-color: var(--switchcolor6);
    border-color: #ec068c !important; /* Cambia el color del borde cuando el input está seleccionado */
    box-shadow: 0 0 10px 0 #F35F0E; /* Añade un efecto de sombra para un aspecto más difuminado o neón */
}


.createpost-submit-button {
    height: 50px !important;
    width: 100px;
    margin-left: 4px;
    margin-right: 4px;
}

textarea {
    background-color: transparent;
}
textarea::-webkit-scrollbar {
    width: 5px;
}
textarea::-webkit-scrollbar-track {
    background: transparent;
}
textarea::-webkit-scrollbar-thumb {
    border-radius: 5px;
    height: 3.5rem !important;
}
.no-border * { /*No bordes en el seleccionar categoria*/
    border: none !important;
}

/* ---------------------------------------------------------------- MAIN PAGE -------------------------------------------------- */

.right-aside-container-bg { 
    background-color: var(--switchcolor2) !important ;
}

.home-main-container {
    margin: 0px, 20px, 20px, 0px !important; padding: 0; display: flex; flex-direction: row; margin: 0px 10dvw 0 10dvw !important; justify-content: center;
}

.home-main-snippet {
    flex: 1; display: flex; flex-direction: column; align-items: flex-start; padding: 0; margin: 0 2.5dvw 0 2.5dvw; border: 0.5px solid #ececec;  height: fit-content !important; width: 40dvw !important;
}

/* -------- POSTS --------- */
.post-container {
    background-color: none;
    transition: background-color 0.3s;
    width: auto; padding: 20px; border-radius: 16px;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}
    .post-container:hover {
        background-color: var(--switchcolor3);
    }

.post-profile-picture {
    width: 25px;
    height: 25px;
    transition: width 0.3s, height 0.3s; /* Agregamos una transición suave */
    border-radius:90px
    }
    .post-profile-picture:hover {
        width: 40px;
        height: 40px;
        border-radius:90px
    }

.post-user-data {
    font-family: nunito;
    font-weight:700;
    font-size: 14px;
    letter-spacing: normal;
    flex-direction: row; align-items: flex-start;
    margin-top: 10px;
    margin-bottom: 10px
}

.post-title {
    font-family: nunito;
    font-weight: 800;
    font-size: 18px;
    letter-spacing: normal;
    margin-bottom: 14px !important;
    color: var(--switchcolor7)
}

.post-context {
    font-family: nunito;
    font-weight:600;
    font-size: 14px;
    letter-spacing: normal;
    margin-bottom: 14px !important
}

.post-button-container {
    flex-direction: row; align-items: flex-start;  margin-top: 10px; margin-bottom: -10px
}

    .post-vote-button {
        flex-direction: row;
        border-radius: 90px;
        background-color: var(--switchcolor3);
        margin-right: 12px;
    }
        .post-vote-button:hover {
            background-color: var(--switchcolor5)
        }
        .post-upvote-button {
            height: 40px;
            width: 40px;
            border-radius: 90px;
            background-color: transparent;
            transition: background-color 0.3s;
        }
            .post-upvote-button:hover {
                background-color: rgba(255, 166, 0, 0.66);
            }

        .post-downvote-button {
            height: 40px;
            width: 40px;
            border-radius: 90px;
            background-color: transparent;
            transition: background-color 0.3s;
        }  
            .post-downvote-button:hover {
                background-color: rgb(63, 111, 255, 0.66);
            }

    .post-comment-button {
        margin-right: 12px; height: 40px; width: fit-content
    }
        .post-comment-button:hover {

        }

    .post-delete-button {
        width: 40px;
        height: 40px;
        padding: 0px;
        border-radius: 90px;;
        background-color: var(--switchcolor3);
        transition: background-color 0.3s;
    }
        .post-delete-button:hover {
            background-color: salmon;
        }
        

    .post-edit-button {
        width: 40px;
        height: 40px;
        padding: 0px;
        border-radius: 90px;
        background-color: var(--switchcolor3);
        transition: background-color 0.3s;
    }
        .post-edit-button:hover {
            background-color: var(--switchcolor5);
        }

    .post-quantity-indicator {
        height:40px;
        width: fit-content;
        font-size: 12px;
        font-weight:500;
        color: var(--switchcolor7);
    }


.post-hr-separator {
    width: 100%;
    margin-top: 8px;
    margin-bottom: 8px;
    display: block !important;
    color:red
}


.avatar-image {
    border-radius:90px; padding: 0% !important
}

.post-user-data-separator {
    font-size: 24px;
    height: auto;
}








    @media (max-width: 1000px) {
        .block-disapear,
        .block-disapear * {
            display: none; /* Oculta el bloque cuando el ancho del navegador sea menor a 600px */
            width: 0px !important
        }
        .block-expand {
            width: 100dvw !important
        }
        /* .home-banner-container {
            height: 0% !important; 
            width: 0% !important;
            display:none !important
        } */
        .home-mid-main-container {
            width:100dvw !important;
        }

        .home-main-container {
            margin: 0px 0dvw 0 0dvw !important;
            display: block;
            justify-content: center !important;
            padding: 0px 10px 0px 10px
        }
        .post-container {
            margin: 0%
        }
        /* * {
            overflow-x: hidden; 
        } */
        body{
            margin:0%
        }
        .home-main-snippet {
            margin: 0% !important
        }
    }

    .community-icon {
        width: 30px; height: 30px; border-radius: 90px
    }

    .aside-menu-nav-element {
        /* Estilos predeterminados */
        border-radius: 15px;
    }

    .aside-menu-nav-element {
        background-color: none;
        transition: background-color 0.3s, border-radius 0.3s, padding-left 0.3s; /* Agregamos una transición suave */
    }
        .aside-menu-nav-element:hover {
            background-color: var(--switchcolor3);
            padding-left: 8px;
            
        }
    
    .scoreboard-title {
        font-family: nunito;
        font-weight: 800;
        font-size: 16px;
        letter-spacing: normal
    }
    
    .scoreboard-top-users {
        font-family: nunito;
        font-weight: 750;
        font-size: 14px;
        letter-spacing: normal;
        margin: 10px 0 10px 0px
    }
    
    .scoreboard-users {
        font-family: nunito;
        font-weight: 600;
        font-size: 14px;
        letter-spacing: normal;
        margin: 10px 0 10px 0px
    }
    
    .guidelines-title {
        font-family: nunito;
        font-weight: 800;
        font-size: 16px;
        letter-spacing: normal;
        margin: 10px 0 10px 0px
    }
    
    .guidelines-text {
        font-family: nunito;
        font-weight: 600;
        font-size: 14px;
        letter-spacing: normal;
        margin: 10px 0 10px 0px
    }

.aside-main-left {
    border: 1px solid orange; /* BORRAR */
    width: 15dvw;
    height: fit-content;
    padding: 0px;
    display: flex;
    flex-direction: column;
}

.aside-container-left {
    width: 15dvw; height: fit-content; padding: 0px; display: flex; flex-direction: column; position: fixed;
}
.aside-ul-container-left {
    list-style: none;
    padding: 40px 20px 20px 20px;
}

.aside-list-element {
    padding: 10px 0 10px 30px;
    font-size: 14px
}

.aside-list-c-element {
    padding: 10px 0 10px 10px;
    font-size: 14px
}

.aside-title {
    margin: 10px 0 10px 0px
}

.aside-copyright {
    font-size: 12px; color: #606060; margin: 20px 0px 10px 0px
}

.aside-container-left::-webkit-scrollbar {
    width: 5px;
}
.aside-container-left::-webkit-scrollbar-track {
    background-color: none;
    transition: background-color 0.3s !important
}
.aside-container-left:hover::-webkit-scrollbar-thumb {
    background-color: var(--switchcolor3);
    border-radius: 5px;
    height: 3.5rem !important;
    transition: background-color 0.3s !important
}

.home-banner-container {
    height: 188px; width: 100%; border: 0.5px solid rgb(0, 255, 115); justify-content: center;
}
    .home-banner-subcontainer {
        width: 95%
    }
        .home-banner-element-a {
            height:128px; width:96%; background-color:#CACACA; border-radius: 16px; margin:0; padding:0;
                background-image: url('/images/main_banner_pelipper.svg');
                background-size: cover; /* Para cubrir todo el div */
                background-position: center; /* Para centrar la imagen */
        }
            .home-banner-element-b {
                height:50px; width: 100px;justify-content: center;
            }
                .home-banner-element-c {
                    height:80px; width: 80px; background-color: grey; border-radius: 90px; border: 1px solid black; outline: 3px solid var(--switchcolor1); position:absolute; top: 185px
                }

.home-mid-main-container {
    margin: 0; border: 0.5px solid red; width:62.5dvw;  height: fit-content !important
}


.aside-container-right {
    height:fit-content; padding: 0px; display: flex; flex-direction: column; border: 0.5px solid #ececec
}

.aside-container-right {
    border-radius: 16px
}
.aside-ul-container-right{
    list-style: none; padding: 20px 20px 20px 20px;
}

/* --------------------------- FOOTER ---------------------------------- */

.footer-container {height: 35px}

.footer-text {font-size: 12px; color: #606060}

.footer-snippet {text-align: center; margin-left: 24px; margin-right: 24px; border-top: 1px solid #EBEBEB;}

.footer-row-height {
    height: 57px
}





.nav-a-link {
    color: white !important
}

/* ELIMINAR THEME */
.card { border: 0px !important}
a {
    text-decoration: none !important;
}




