@import 'primevue/resources/primevue.css';
@import 'primevue/resources/themes/lara-light-indigo/theme.css';
@import 'primeflex/primeflex.css';
@import 'primeicons/primeicons.css';

/* ----------------------------- GLOBAL USE --------------------------------*/


@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


:root {
    --switchcolor-background: #FFFFFF;
    --switchcolor-container-background: #FFFFFF;
    --switchcolor-container-background-hover: #F9FAFA;
    --switchcolor-button: #EAEDEF;
    --switchcolor-searchbar: #EAEDEF;
    --switchcolor-button-hover: #E2E7E9;
    --switchcolor-searchbar-hover: #E2E7E9;
    --switchcolor-text: #2A3C42;
    --switchcolor-title-text: #000000;
    --switchcolor-icon: #000000;
	--switchcolor-separator-border: #EBEBEB;
    --switchcolor-post-container-hover: #F2F4F5;
    --switchcolor-special-button: #F9AD5B; /* BRAND COLOR */
    --switchopacity-login-banner: 1; 
}

.dark-mode {
    --switchcolor-background: #0B1416;
    --switchcolor-container-background: #0B1416;
    --switchcolor-container-background-hover: #1A282D;
    --switchcolor-button: #2B383D;
    --switchcolor-searchbar: #2B383D;
    --switchcolor-button-hover: #223237;
    --switchcolor-searchbar-hover: #223237;
    --switchcolor-text: #B2C5C9;
    --switchcolor-title-text: #FFFFFF;
    --switchcolor-icon: #FFFFFF;
	--switchcolor-separator-border: #1F2729;
    --switchcolor-post-container-hover: #131F23;
    --switchcolor-special-button: #F9AD5B; /* BRAND COLOR */
    --switchopacity-login-banner: 0.7; 
}

* {
    color: var(--switchcolor-text);
    caret-color: #F9AD5B; /* cursor texto */
    font-family: Nunito;
}

body {
    background-color: var(--switchcolor-background);
}

span {
    color: var(--switchcolor-text);
}

a { /* Currarse un hover guapo y un visited*/
    color: #F9AD5B;
}

h1, h2, h3, h4, h5 {
    letter-spacing: 1px;
}

textarea {
    resize: none;
}

.box {
    width: 150px;
    height: 50px;
    border: 1px solid #000; /* Borde de los contenedores */
    margin-right: 5px; /* Espacio entre los contenedores */
}

.svg-background-color {
    fill: var(--switchcolor-icon);
}


/*----------------------------------------- HEADER --------------------------------------------------------*/

.header-separator {
	border-bottom: 1px solid var(--switchcolor-separator-border);
}

/* BUTTONS */

.circular-button {
    background-color: var(--switchcolor-background);
    border: 0px;
    border-radius: 90px;
    height: 40px;
    width: 40px;
}
    .circular-button:hover {
        background-color: var(--switchcolor-button-hover);
    }

.simple-button {
        background-color: var(--switchcolor-button);
        border: 0px;
        border-radius: 90px;
        height: 40px;
        width: 100px;
}
        .simple-button:hover {
            background-color: var(--switchcolor-button-hover);
        }

.special-button {
    background-color: var(--switchcolor-special-button);
    border: 0px;
    border-radius: 90px;
    height: 40px;
    width: 100px;
}
    .special-button:hover {
        background-color: var(--switchcolor-button-hover);
    }


/* SEARCHBAR */

.searchbar {
	width: 753px; 
	height: 40px; 
	padding-top: 8px; 
	padding-bottom: 8px; 
	padding-left: 20px; 
	padding-right: 20px; 
	background-color: var(--switchcolor-searchbar); 
	border-radius: 45px
}
	.searchbar:hover {
		background-color: var(--switchcolor-searchbar-hover); 
	}

    @media (max-width: 800px) {
        #searchContainer {
            display: none !important;
        }
    }

/* LOGO */

.logo {
	width: 115px; 
	height: 34px;
}

/* -------------------------------- FOOTER -------------------------- */

.footer-separator {
	border-top: 1px solid var(--switchcolor-separator-border);
}

/* -------------------------------- LOGIN ---------------------------- */

.login-container {
    background-color: var(--switchcolor-background);
    border: 1px solid var(--switchcolor-separator-border);
    border-radius: 1rem;
}

.login-banner {
    width: 100%; /*Ancho de la imagen */
    height: 632px; /* Altura de la imagen */
    background-image: url('images/login_banner.png') !important; /* Ruta de la imagen */
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%; /* Ajustar la imagen al tamaño del contenedor */
    /* background-size: cover; Ajustar la imagen al tamaño del div */
    border-radius: 1rem 0 0 1rem; /* Establecer el radio de borde para el lado izquierdo */
    opacity: var(--switchopacity-login-banner); /* Establecer la opacidad de la imagen */
}

.login-input {
    height: 3.5rem !important;
	background-color: var(--switchcolor-searchbar);
    border: 0px;
	border-radius: 1.25rem;
    padding-left: 20px !important;
    border: 2px solid transparent; /* Establece un borde transparente */
    outline: none; /* Elimina el borde predeterminado cuando el input está seleccionado */
    transition: border-color 0.3s ease; /* Transición para suavizar el cambio de color del borde */
    color: var(--switchcolor-text) !important; /* Color del texto dentro del input */
}
    .login-input:focus {
		background-color: var(--switchcolor-searchbar-hover);
        border-color: #F9AD5B !important; /* Cambia el color del borde cuando el input está seleccionado */
        box-shadow: 0 0 10px #F9AD5B; /* Añade un efecto de sombra para un aspecto más difuminado o neón */
	}


.login-submit-button {
    height: 50px !important;
    width: 100px;
    margin-left: 4px;
    margin-right: 4px;
}

.btn-login-password {
    color: var(--switchcolor-text);
    font-size: 14px;
    position: absolute;
    top: 33%; /* Centra verticalmente */
    right: 15px; /* Alinea a la derecha con un pequeño margen */
    transform: translateY(-15%); /* Ajusta para centrar verticalmente */
    background: none;
    border: none;
    cursor: pointer;
    transition: color 0.5s ease; /* Agregamos una transición para suavizar el cambio de color */
    }
    
    .btn-login-password:hover, .btn-login-password:active {
      color: #CACACA; /* Cambia el color cuando está activo (haciendo clic) */
    }

    .toggle-password-button {
        margin-left: -40px; /* Ajusta el margen para que el botón esté justo a la derecha del input */
    }

.page-title { /* GLOBAL?*/
    font-family: Nunito;
    font-weight: 600 !important ;
    display: inline-block;
    color: #000;
    background: #fff;
    mix-blend-mode: multiply;
    position: relative;
}

.page-title:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, #F9AD5B, rgb(92, 163, 255));
    mix-blend-mode: screen; 
    position: absolute;
    top: 0;
    left: 0;
}

/* ---------------------------------------------- CREATE POST --------------------------------------------- */

.createpost-banner {
    width: 100%; /*Ancho de la imagen */
    height: 250px; /* Altura de la imagen */
    background-image: url('/images/createpost_banner.png') !important; /* Ruta de la imagen */
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%; /* Ajustar la imagen al tamaño del contenedor */
    /* background-size: cover; Ajustar la imagen al tamaño del div */
    border-radius: 1rem 1rem 0 0; /* Establecer el radio de borde para el lado izquierdo */
    opacity: var(--switchopacity-login-banner); /* Establecer la opacidad de la imagen */
}

.createpost-container {
    background-color: var(--switchcolor-background);
    border: 1px solid var(--switchcolor-separator-border);
    border-radius: 1rem;
}

.createpost-input {
    height: 3.5rem !important;
	background-color: var(--switchcolor-searchbar);
    border: 0px;
	border-radius: 1.25rem;
    padding-left: 20px !important;
    border: 2px solid transparent; /* Establece un borde transparente */
    outline: none; /* Elimina el borde predeterminado cuando el input está seleccionado */
    transition: border-color 0.3s ease; /* Transición para suavizar el cambio de color del borde */
    color: var(--switchcolor-text) !important; /* Color del texto dentro del input */
}
    .createpost-input:focus {
		background-color: var(--switchcolor-searchbar-hover);
        border-color: #F9AD5B !important; /* Cambia el color del borde cuando el input está seleccionado */
        box-shadow: 0 0 10px #F9AD5B; /* Añade un efecto de sombra para un aspecto más difuminado o neón */
	}

.createpost-submit-button {
    height: 50px !important;
    width: 100px;
    margin-left: 4px;
    margin-right: 4px;
}

textarea {
    background-color: transparent;
}
textarea::-webkit-scrollbar {
    width: 5px;
}
textarea::-webkit-scrollbar-track {
    background: transparent;
}
textarea::-webkit-scrollbar-thumb {
    background-color: #F9AD5B;
    border-radius: 5px;
    height: 3.5rem !important;
}
.no-border * { /*No bordes en el seleccionar categoria*/
    border: none !important;
}

/* ---------------------------------------------------------------- MAIN PAGE -------------------------------------------------- */

.right-aside-container-bg { 
    background-color: var(--switchcolor-container-background-hover);
}

.sticky-aside {
    position: -webkit-sticky;
    position: sticky !important;
    top: 0;
}

.post-bg:hover {
    background-color: var(--switchcolor-post-container-hover)
}